/* EventCard.css */
.EventCard {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: #242424; /* Ensures text is readable */
  list-style: none;
  font-family: Arial, sans-serif;
}

.EventCard strong {
  font-size: 1.2em;
  color: #000000; /* Optional: Highlight the title */
}

.EventDetails {
border: 1px solid #ccc;
border-radius: 8px;
padding: 20px; 
margin: 20px auto; 
max-width: 500px; /* Limit the width */
box-shadow: 0 4px 6px rgba(166, 138, 138, 0.1); /* Subtle shadow */
color: #ffffff;
background-color: #2A3E59; /* Light background color */
font-family: Arial, sans-serif; /* Clean font */
}

.EventDetails h4 {
font-size: 24px; /* Title size */
color: #ffffff; /* Darker text color */
margin-bottom: 10px; /* Space below the title */
}

.EventDetails p {
font-size: 16px; /* Text size */
color: #ffffff; /* Medium grey text */
line-height: 1.6; /* Better line spacing */
}

