/* General calendar styling */
.react-calendar {
    border: none;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__navigation {
    background-color: #002b54;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px 8px 0 0;
  }
  
  .react-calendar__month-view__days__day {
    color: #333;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: red;
  }
  
  .react-calendar__tile--active {
    background-color: #002b54;
    color: white;
    border-radius: 6px;
  }
  
  .react-calendar__tile:hover {
    background-color: #cce4ff;
  }
  
  .calendarContainer {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  